<ion-router-outlet></ion-router-outlet>
<ion-tabs >

  <ion-tab-bar  color="primary" class="rounded-3xl mx-[2%] mb-[10%] bg-opacity-60"   (ionChange)="tabChanged($event)" slot="bottom">
    <ion-tab-button   tab="home">
      <ion-icon name="grid"></ion-icon>
      
    </ion-tab-button>
    <ion-tab-button tab="sessions">
      <ion-icon name="videocam"></ion-icon>

    </ion-tab-button>
    <ion-tab-button tab="community">
      <ion-icon name="chatbubbles"></ion-icon>
      
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>