<ion-content class="ion-padding">
  <h1>Create Account</h1>
  <h3>Sign up to get started</h3>
  
  <form [formGroup]="regsteForm" >
  <app-input [parentForm]="regsteForm" controlName="FullName" label="Full Name"></app-input>
  <app-input [parentForm]="regsteForm" controlName="email" [type]="'email'" label="Email Address"></app-input>
  <app-input [parentForm]="regsteForm" controlName="phoneNo" label="Contact Number"></app-input>
  <app-input [parentForm]="regsteForm" controlName="password" label="Password" type="Password"></app-input>
  
  <app-button (click)="createAccount()" label="Sig Up" ></app-button>
  <app-icon-button icon ="logo-facebook" label="Connect with facebook"></app-icon-button>
  </form>
  
  
  <p class="footer-text">I'm a member, <a routerLink="/login">Log in</a></p>
  </ion-content>
  