<ion-content color="white" [fullscreen]="true">

  <div class="w-full   h-full">

    <div class="bg-therapyBlue shadow-2xl  w-full h-[30vh] rounded-b-[50%] relative">

      <img class="mx-auto absolute left-1/2 transform -translate-x-1/2 -bottom-[15%] rounded-full  h-36 w-36"
        src="assets/images/avatar.png" />

    </div>
    <br>
    <div class="w-[92%] m-auto">
      <div class=" float-right mt-[5%]">
        <app-outline-btn (onClick)="navigate('/editprofile')" icon="create-outline" text="Edit Details" />
      </div>

      <div class="w-full flex-wrap my-4 flex">
        <div class="w-1/2 ">
          <div class="w-[95%] border-2 rounded-md shadow-xl bg-purple-100 bg-opacity-30 border-therapyBlue ">
            <img class="cover w-3/5 m-auto" src="assets/images/sessions.png" alt="">
            <p class="font-bold m-auto text-center text-therapyBlue">Sessions</p>
          </div>
        </div>

        <div class="w-1/2 shadow-md  rounded-lg bg-therapyBlue bg-opacity-90">
          <p class="font-bold m-auto text-center text-white">Progress</p>
        </div>
      </div>
      <div class="mt-[2%]">
        <app-user-details text="Stuurman Ramaila" icon="person-outline" />
        <app-user-details text="ramailaStuurman@gmail.com" icon="mail-outline" />
        <app-user-details text="076 9128 975" icon="call-outline" />
        <app-user-details text="Male" icon="male-female-outline" />
        <app-user-details text="1996-March-08" icon="calendar-number-outline" />
        
      </div>
      <div class="w-[96%] m-auto">
        <app-outline-btn (onClick)="navigate('/changepassword')" text="Change Password" icon="lock-closed-outline" />
      </div>
      
    </div>
  </div>

</ion-content>