<ion-header [translucent]="true">



</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">changepassword</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="onClick()" fill="clear" >
    <ion-icon size="large" slot="icon-only" name="chevron-back-outline"></ion-icon>
  </ion-button>
  <div class="w-11/12 space-x-[1px] m-auto h-full transform " >

    <ion-img class="w-1/2 m-auto" src="assets/logo.png"></ion-img>
    <br>
    <ion-text color="primary">
      <p class="text-center font-bold text-2xl">Change your Password</p>
    </ion-text>
    <br>
    <form class="space-x-[1px]" >
      <app-outlined-input label="Old Password" placeholder="Enter Old Password" />

      <app-outlined-input label="New Password " placeholder="Enter New Password" />
      <app-outlined-input label="Confirm Password" placeholder="Enter Cornfirm Password" />

      <app-button label="Change Password" />

    </form>



  </div>



</ion-content>
