<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Community Hub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-11/12 m-auto mt-[4%]">
    <ion-segment [scrollable]="true" value="Latest">
      <ion-segment-button fill="block" value="Latest">
        <ion-label>Latest</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Trending">
        <ion-label>Trending</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngFor="let item of comm" >
      <app-community-card [message]="item.payload.doc.data().message" [coominity]="item.payload.doc.data()"/>
  </div>
  <ion-fab *ngIf="user.type==='doctor'" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/post">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
