<ion-header class="ion-no-border">
  <div class="w-11/12 m-auto pt-[5%]">
    <div class=" flex flex-wrap">
      <p class="text-gray-400 w-3/5 ">
        Hi {{user.names}}
      </p>
      
        
      
      <div class="profile-pic">
      
        <li routerLink="/user/home/profile">
          <img src="assets/images/avatar.png" class="cover" />
        </li>
      </div>
    </div>
    <ion-text >
      <p class="font-bold text-2xl">Are you ready to talk?</p>
    </ion-text>
    <ion-searchbar show-clear-button="focus" placeholder="search"></ion-searchbar>
    <div class="wrapper">
      <app-button label="Therapist"></app-button>
      <app-button label="Podriatrist"></app-button>
      <app-button label="Physiologist"></app-button>
    </div>

  </div>



</ion-header>
<ion-content>
  <div class="container">
    <h1 class="book text-therapyBlue">Book Now</h1>
    <!-- Doctor Details -->

    <div class="doc-list space-x-1" *ngFor="let item of doctors">
      <!-- <div routerLink="/doctordetails" class="block">
        <div class="imgbx">
          <img src="assets/images/therapist.jpg" class="cover" />
        </div>

        <div class="doc-details">
          <div class="type">
            <p>Therapist</p>
          </div>
          <div class="name-time">
            <h4>Dr {{item.payload.doc.data().names}}</h4>

            <ion-icon icon="time"></ion-icon>
            <p class="time">14:05 - 16:30</p>
          </div>
        </div>
      </div> -->
      <app-doctorcard routerLink="/doctordetails/{{item.payload.doc.id}}" router [doc]="item.payload.doc.data()" />
  
    </div>

    <div class="tab"></div>
  </div>
</ion-content>
