<ion-header class="ion-no-border">
  <div class="w-11/12 m-auto pt-[5%]">
    <div class=" flex flex-wrap">
      <p class="text-gray-400 w-3/5 ">
        Hi Rams
      </p>
      
        <ion-icon color="medium" size="large" slot="start" name="notifications"></ion-icon>
      
      <div class="profile-pic">
      
        <li routerLink="/user/profile">
          <img src="assets/images/rams.jpeg" class="cover" />
        </li>
      </div>
    </div>
    <ion-text >
      <p class="font-bold text-2xl">Are you readyto talk?</p>
    </ion-text>
    <ion-searchbar show-clear-button="focus" placeholder="search"></ion-searchbar>
    <div class="wrapper">
      <app-button label="Therapist"></app-button>
      <app-button label="Podriatrist"></app-button>
      <app-button label="Physiologist"></app-button>
    </div>

  </div>



</ion-header>
<ion-content>
  <div class="container">
    <h1 class="book">Book Now</h1>
    <!-- Doctor Details -->

    <div class="doc-list space-x-1">
      <div routerLink="/doctordetails" class="block">
        <div class="imgbx">
          <img src="assets/images/therapist.jpg" class="cover" />
        </div>

        <div class="doc-details">
          <div class="type">
            <p>Therapist</p>
          </div>
          <div class="name-time">
            <h4>Dr Aubrey Mashaba</h4>

            <ion-icon icon="time"></ion-icon>
            <p class="time">14:05 - 16:30</p>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="imgbx">
          <img src="assets/images/pod.jpg" class="cover" />
        </div>

        <div class="doc-details">
          <div class="type">
            <p>Podriatrist</p>
          </div>
          <div class="name-time">
            <h4>Dr Patience Shivambhu</h4>

            <ion-icon icon="time"></ion-icon>
            <p class="time">15:25 - 17:36</p>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="imgbx">
          <img src="assets/images/rams.jpeg" class="cover" />
        </div>

        <div class="doc-details">
          <div class="type">
            <p>Physiologist</p>
          </div>
          <div class="name-time">
            <h4>Dr Morena Maphosa</h4>

            <ion-icon icon="time"></ion-icon>
            <p class="time">15:25 - 17:36</p>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="imgbx">
          <img src="assets/images/pod.jpg" class="cover" />
        </div>

        <div class="doc-details">
          <div class="type">
            <p>Physiologist</p>
          </div>
          <div class="name-time">
            <h4>Dr Andries Kunutu</h4>

            <ion-icon icon="time"></ion-icon>
            <p class="time">15:25 - 17:36</p>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="imgbx">
          <img src="assets/images/rams.jpeg" class="cover" />
        </div>

        <div class="doc-details">
          <div class="type">
            <p>Physiologist</p>
          </div>
          <div class="name-time">
            <h4>Dr Morena Maphosa</h4>

            <ion-icon icon="time"></ion-icon>
            <p class="time">15:25 - 17:36</p>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="imgbx">
          <img src="assets/images/rams.jpeg" class="cover" />
        </div>

        <div class="doc-details">
          <div class="type">
            <p>Physiologist</p>
          </div>
          <div class="name-time">
            <h4>Dr Morena Maphosa</h4>

            <ion-icon icon="time"></ion-icon>
            <p class="time">15:25 - 17:36</p>
          </div>
        </div>
      </div>
    </div>

    <div class="tab"></div>
  </div>
</ion-content>
