<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Request Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-11/12 m-auto my-3" *ngIf="request">

    <div  class="w-full  my-2 border border-dotted rounded border-therapyBlue p-3 text-gray-600 text-lg">
      <p>Names :{{request.username}} </p>
      <p>Type  : {{request.type}}</p>
    </div>
    <div>
      <div class="w-full space-y-2">
        <p class="text-center text-lg font-semibold text-gray-700">
          Session date
        </p>
        <ion-datetime-button  datetime="startdate"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime [(ngModel)]="date" [showDefaultButtons]="true" presentation="date" [isDateEnabled]="isWeekday" id="startdate"
            min="{{CurrentDate | date:'yyyy-MM-dd'}}" >
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
    </div>
    <br>
    <form [formGroup]="sessionForm" >
    <ion-select formControlName="time" label="Select Time" label-placement="floating" fill="outline">
      <div *ngFor="let item of hoursArray">
        <ion-select-option value={{item}} >{{item}}</ion-select-option>
      </div>
    </ion-select>
  </form>
    <br>
    <div class="w-full flex justify-evenly" >
      <div class="w-1/2">
        <app-icon-button (click)="reject()" label="Reject" />
      </div>
      <div class="w-1/2">
        <app-button (click)="Accepts()" label="Accept" />
      </div>
    </div>
  </div>
</ion-content>
