<ion-header class="ion-no-border">
  <div class="w-11/12 m-auto pt-[5%]">
    <div class=" flex flex-wrap">
      <p class="text-gray-400 w-3/5 ">
        Hi Doc! {{user.names}}
      </p>
    <div class="profile-pic">
      
      <li routerLink="profile">
        <img src="{{user.img}}" class="cover" />
      </li>
    </div>
  </div>
  <div class="summary">
    <ion-text>
      <p class="font-bold text-2xl">Your Summary</p>
    </ion-text>

  </div>
     <div class="wrapper">
     
      <ion-card class="bg-therapyLight rounded-md">
        <ion-card-header routerLink="/request" >
          <ion-card-title>Requests</ion-card-title>
          <ion-card-subtitle>01</ion-card-subtitle>
        </ion-card-header>
     
      </ion-card>
      <ion-card routerLink="/upcomming" class="bg-therapyLight rounded-md">
        <ion-card-header>
          <ion-card-title>Upcoming</ion-card-title>
          <ion-card-subtitle>06</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card class="bg-therapyLight rounded-md" >
        <ion-card-header>
          <ion-card-title>Missed</ion-card-title>
          <ion-card-subtitle>10</ion-card-subtitle>
        </ion-card-header>
      
        
      </ion-card>
      
</div>
<div class="trending">
<ion-text >
  <p class="font-bold text-2xl">Trending Community Posts</p>
</ion-text>
</div>
  </div>
</ion-header>
 
 
<ion-content>

  <div *ngFor="let item of comm" >
    <app-community-card [message]="item.payload.doc.data().message" [coominity]="item.payload.doc.data()"/>
</div>


</ion-content>

